# 05. 판다스 (Pandas)
---
* 날짜:
* 이름:


**참고사이트**
> * [판다스](https://pandas.pydata.org/)


pandas는 데이타 분석(Data Analysis)을 위해 널리 사용되는 파이썬 라이브러리 패키지입니다. 이번 시간에는 pandas의 기본적인 개념과 가장 자주 쓰이는 몇가지 함수를 알아보도록 합니다.

```
import pandas as pd
```

In [1]:
import pandas as pd

## **개념정리**

---
### **(1) DataFrame**
---
Pandas의 데이터프레임은 데이터 세트를 표현하는데 널리 사용되는 데이터 유형입니다. 2차원 자료구조이며 각 열에는 이름(Header)가 있으며 각 행은 숫자로 식별됩니다.

<p align='center'>
<img src=https://z-images.s3.amazonaws.com/thumb/4/43/01_table_dataframe.svg/507px-01_table_dataframe.svg.png width=300>
</p>



```
df = pd.DataFrame({
'Sepal.Length': [5.1, 4.9, 4.7],
'Petal.Length': [1.4, 1.4, 1.3],
'Species': ["setosa","setosa","setosa"],
})

print( df )

```

In [3]:
my_dict =  { "Length":[1,2,3,1], "Species": ["a", "b", "c","b"]}
df = pd.DataFrame( my_dict )
df

   Length Species
0       1       a
1       2       b
2       3       c
3       1       b

---
### **(2) 파일 불러오기**
---

```
데이터셋 = pd.read_csv(파일경로)
```

In [5]:
ds = pd.read_csv("/content/sample_data/california_housing_test.csv")
ds

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

---
### **(3) 데이터 확인**
---

####**1.`head()`**

처음 행들을 보여줍니다.

In [8]:
ds.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

####**2.`tail()`**

마지막 행들을 보여줍니다.

In [9]:
ds.tail()

      longitude  latitude  ...  median_income  median_house_value
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[5 rows x 9 columns]

####**3.`shape`**

데이터의 shape 를 출력합니다.

In [10]:
ds.shape

(3000, 9)

####**4.`keys()`**

column 값의 이름을 출력합니다.

In [11]:
ds.keys()

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

---
### **(4) 데이터 인덱싱**
---

In [13]:
ds['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [15]:
ds['population'][:10]

0    1537.0
1     809.0
2    1484.0
3      49.0
4     850.0
5     663.0
6     604.0
7    1341.0
8    1446.0
9    2830.0
Name: population, dtype: float64

In [21]:
ds[:5]

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

---
### **(5) 간단한 EDA**
---

####**1.`info()`**

데이터에 대한 개략적인 정보를 표시합니다.

In [22]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

####**2.`describe()`**

각 column 들의 기술 통계량을 출력합니다.

* `count`: 해당 column에서 비어 있지 않은 값의 개수
* `mean`: 평균
* `std`: 표준편차
* `min`: 최솟값 (이상치 포함)
* `25%` (Q1): 전체 데이터를 순서대로 정렬했을 때, 아래에서 부터 1/4번째 지점에 있는 값
* `50%` (Q2): 중앙값 (전체 데이터를 순서대로 정렬했을 때, 아래에서 부터 2/4번째 지점에 있는 값)
* `75%` (Q3): 전체 데이터를 순서대로 정렬했을 때, 아래에서 부터 3/4번째 지점에 있는 값
* `max`: 최댓값 (이상치 포함)

In [23]:
ds.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

####**3.`corr()`**

변수들 간 상관관계를 출력합니다.

In [24]:
ds.corr()

                    longitude  latitude  ...  median_income  median_house_value
longitude            1.000000 -0.925017  ...      -0.018701           -0.050662
latitude            -0.925017  1.000000  ...      -0.072363           -0.138428
housing_median_age  -0.064203 -0.025143  ...      -0.144315            0.091409
total_rooms          0.049865 -0.039632  ...       0.221249            0.160427
total_bedrooms       0.070869 -0.068245  ...       0.024025            0.082279
population           0.111572 -0.117318  ...       0.032361           -0.001192
households           0.051062 -0.068296  ...       0.048625            0.100176
median_income       -0.018701 -0.072363  ...       1.000000            0.672695
median_house_value  -0.050662 -0.138428  ...       0.672695            1.000000

[9 rows x 9 columns]

---
### **(6) 전처리**
---

####**1.`isna()`**

결측치(`Nan`)를 표시합니다.

In [27]:
ds["longitude"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Name: longitude, Length: 3000, dtype: bool

####**2.`fillna()`**

결측값을 특정값으로 대체합니다.

In [28]:
ds.fillna(0)

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

####**3.`to_numpy()`**

넘파이 배열로 변환합니다.

In [31]:
ds_arr = ds.to_numpy()
print(ds_arr, ds_arr.shape)

[[-1.22050e+02  3.73700e+01  2.70000e+01 ...  6.06000e+02  6.60850e+00
   3.44700e+05]
 [-1.18300e+02  3.42600e+01  4.30000e+01 ...  2.77000e+02  3.59900e+00
   1.76500e+05]
 [-1.17810e+02  3.37800e+01  2.70000e+01 ...  4.95000e+02  5.79340e+00
   2.70500e+05]
 ...
 [-1.19700e+02  3.63000e+01  1.00000e+01 ...  2.20000e+02  2.28950e+00
   6.20000e+04]
 [-1.17120e+02  3.41000e+01  4.00000e+01 ...  1.40000e+01  3.27080e+00
   1.62500e+05]
 [-1.19630e+02  3.44200e+01  4.20000e+01 ...  2.60000e+02  8.56080e+00
   5.00001e+05]] (3000, 9)

---
### **(7) 파일저장**
---

####**1.`to_csv()`**

`csv` 파일로 저장합니다.

```
df.to_csv(파일이름)
```

In [32]:
df.to_csv("my_data.csv")